<ng-container *ngIf="pastLaunches$ | async as pastLaunches">
    <main>
        <section class="container">
            <div *ngFor="let launch of pastLaunches">
            <mat-card
            *ngIf="launch && launch.links && launch.rocket"
            [routerLink]="['/', launch.id]">
            <mat-card-header>
                <img height="30" width="30" mat-card-avatar src="{{launch.links.mission_patch_small}}">

            <mat-card-title>
                {{launch.mission_name}}
            </mat-card-title>

            <mat-card-subtitle *ngIf="launch.rocket">
                {{launch.rocket.rocket_name}} - launched {{ launch.launch_date_utc | relativeTime }}
            </mat-card-subtitle>
        </mat-card-header>

            <img *ngIf="launch.links.flickr_images" height="300" width="300" loading="lazy" mat-card-image src="{{launch.links.flickr_images[0]}}" alt="">
            </mat-card>
            </div>
        </section>
    </main>
</ng-container>