html{
    min-height: 100%;
}
body{
    background-color: lightcyan;
    min-height: 100%;
    height: max-content;
}

.sticky-header{
        position: sticky;
        top:0;
        z-index: 999;
        background-color: lightcyan;
        padding-bottom: 10px;
}