<ng-container *ngIf="launchDetails$ | async as launchDetails">
  <section style="padding-top: 20px;">
    <mat-card *ngIf="launchDetails && launchDetails.links" style="width: 400px; margin: auto;">
      <mat-card-header>
        <mat-card-title>{{ launchDetails.mission_name }}</mat-card-title>
      </mat-card-header>
      <img
      *ngIf="launchDetails.links.mission_patch"
        height="256"
        width="256"
        mat-card-image
        [src]="launchDetails.links.mission_patch"
        alt="Mission patch of {{ launchDetails.mission_name }}"
      />
      <mat-card-content>
        <p>{{ launchDetails.details }}</p>
        <p *ngIf="launchDetails.launch_site"><b>Launch Site:</b><br>{{launchDetails.launch_site.site_name_long}}</p>
        <div class="wikipedia">
          <a href={{launchDetails.links.wikipedia}}>Wikipedia for {{launchDetails.mission_name}}</a>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
  <div *ngIf="launchDetails.links" style="margin-top: 30px; display: block; text-align: center;">
    <iframe class="e2e-iframe-trusted-src" [src]="launchDetails.links.video_link | safe" frameborder="0" height="390" width="640" allowfullscreen></iframe>
  </div>
  <section *ngIf="launchDetails && launchDetails.links" class="photo-grid">
    <img
      *ngFor="let pic of launchDetails.links.flickr_images"
      [src]="pic"
      alt="Picture of {{ launchDetails.mission_name }}"
      height="300"
      width="300"
      loading="lazy"
    />
  </section>
</ng-container>